<!DOCTYPE html>
<html>

<head>
    <title>Quiet Sands</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="/assets/js/resolutions.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Fahkwang:wght@200&display=swap" rel="stylesheet" />
</head>

<body>
    <nav>
        <div class="nav-wrapper s12 m6 orange darken-2">
            <a href="#" class="brand-logo center purple-text text-darken-4">Quiet Sands</a>
            <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li>
                    {{!-- If statements to direct to correct if user is logged in --}}
                    {{#if user}}
                    <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/Home">Home</a>
                    {{else}}
                    <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/">Home</a>
                    {{/if}}
                </li>
                <li>
                    {{!-- If statements to display correct values if user is logged in --}}
                    {{#if user}}
                    <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2"
                        href="/logout">Logout</a>
                    {{else}}
                    <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2"
                        href="/login">Login/Sign Up</a>
                    {{/if}}
                </li>
                <li>
                    <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/view">View
                        All Resolutions</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile">
        <li>
            {{!-- If statements to direct to correct page if user is logged in --}}
            {{#if user}}
            <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/Home">Home</a>
            {{else}}
            <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/">Home</a>
            {{/if}}
        </li>
        <li>
            {{!-- If statements to display correct values if user is logged in --}}
            {{#if user}}
            <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/logout">Logout</a>
            {{else}}
            <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/login">Login/Sign Up</a>
            {{/if}}
        </li>
        <li>
            <a class="btn waves-effect waves-light orange darken-4 purple-text darken-2" href="/view">View
                All Resolutions</a>
        </li>
    </ul>
    <div id="content">{{{body}}}</div>
    <footer class="page-footer orange darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="brand-logo purple-text text-darken-2">Quiet Sands</h5>
                    <p class="purple-text text-darken-2"></p>
                </div>
                <div class="foot col l4 offset-l2 s12">
                    <ul>
                        <li>
                            {{!-- Same if statements as above --}}
                            {{#if user}}
                            <a class="purple-text darken-2" href="/Home">Home</a>
                            {{else}}
                            <a class="purple-text darken-2" href="/">Home</a>
                            {{/if}}
                        </li>
                        <li>
                            {{#if user}}
                            <a class="purple-text darken-2" href="/logout">Logout</a>
                            {{else}}
                            <a class="purple-text darken-2" href="/login">Login/Sign Up</a>
                            {{/if}}
                        </li>
                        <li>
                            <a class="purple-text darken-2" href="/view">View
                                All</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright Team Caboose
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>