<h1 class="center-align">Resolutions</h1>

<h3 class="center-align">Mind</h3>
<div class="container">
    <div class="collection">
        {{#each resolution}}
        {{#if mind}}
        <a id="selectedResolution" value={{id}} class="collection-item purple white-text">{{title}}<button
                class="purple white-text waves-effect waves-light btn-flat right" id="deleteButton">
                <i class="material-icons">delete_forever</i>
            </button>
            <div class="clearfix"></div>
        </a>
        <div class="collection-item" id="goalsDiv" style="display:none"> {{> milestones/milestones-block }}</div>
        {{/if}}
        {{/each}}
    </div>
</div>

<h3 class="center-align">Body</h3>
<div class="container">
    <div class="collection">
        {{#each resolution}}
        {{#if body}}
        <a id="selectedResolution" value={{id}} class="collection-item purple white-text">{{title}}<button
                class="purple white-text waves-effect waves-light btn-flat right" id="deleteButton">
                <i class="material-icons">delete_forever</i>
            </button>
            <div class="clearfix"></div>
        </a>
        <div class="collection-item" id="goalsDiv" style="display:none"> {{> milestones/milestones-block }}</div>
        {{/if}}
        {{/each}}
    </div>
</div>

<h3 class="center-align">Knowledge</h3>
<div class="container">
    <div class="collection">
        {{#each resolution}}
        {{#if knowledge}}
        <a id="selectedResolution" value={{id}} class="collection-item purple white-text">{{title}}<button
                class="purple white-text waves-effect waves-light btn-flat right" id="deleteButton">
                <i class="material-icons">delete_forever</i>
            </button>
            <div class="clearfix"></div>
        </a>
        <div class="collection-item" id="goalsDiv" style="display:none"> {{> milestones/milestones-block }}</div>
        {{/if}}
        {{/each}}
    </div>
</div>